# Pt1 - import file and libraries / importar archivo y librerias

In [14]:
#import file from local

from google.colab import files
files.upload()

Saving country-income.csv to country-income (1).csv

{'country-income.csv': b'Region,Age,Income,Online_Shopper\nIndia,49,86400,No\nBrazil,32,57600,Yes\nUSA,35,64800,No\nBrazil,43,73200,No\nUSA,45,79400,Yes\nIndia,40,69600,Yes\nBrazil,46,62400,No\nIndia,53,94800,Yes\nUSA,55,99600,No\nIndia,42,80400,Yes\n'}

In [51]:
#import libraries and csv file (importar librerias y archivo csv)

import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn as sk
import seaborn as sns
import statistics as stats

df=pd.read_csv('country-income.csv')

# Pt2 - exploratory analysis / analisis exploratorio

In [19]:
df.shape #data dimension (dimension de datos o tabla)

(10, 4)

In [52]:
#exploratory analysis (analisis exploratorio)

df.head(10) #dataframe contents-top (dataframe contenidos de cabecera)

   Region  Age  Income Online_Shopper
0   India   49   86400             No
1  Brazil   32   57600            Yes
2     USA   35   64800             No
3  Brazil   43   73200             No
4     USA   45   79400            Yes
5   India   40   69600            Yes
6  Brazil   46   62400             No
7   India   53   94800            Yes
8     USA   55   99600             No
9   India   42   80400            Yes

In [18]:
df.info() #show datatypes and else info (ver tipos de datos, si es dato nulo o no... informacion)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          10 non-null     object
 1   Age             10 non-null     int64
 2   Income          10 non-null     int64
 3   Online_Shopper  10 non-null     object
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [53]:
df.duplicated() #looking for duplicated data (buscando datos duplicados)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [54]:
df = df.drop_duplicates() #drop duplicates (borrar duplicados)

In [55]:
df.isnull().sum() #looking for missing values (buscando por valores perdidos)

Region            0
Age               0
Income            0
Online_Shopper    0
dtype: int64

In [56]:
df.count() #rows after remove duplicates (fila despues de quitar duplicados)

Region            10
Age               10
Income            10
Online_Shopper    10
dtype: int64

# Pt3 - statistic calculus / calculos estadisticos

In [57]:
import scipy # library for calculus (libreria para calculos)

In [60]:
df.std() #standard deviation (desviacion estandar)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age           7.287737
Income    13906.497282
dtype: float64

In [61]:
df.mean() #mean (calculo de media)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age          44.0
Income    76820.0
dtype: float64

In [62]:
df.max() #max (valor maximo)

Region              USA
Age                  55
Income            99600
Online_Shopper      Yes
dtype: object

In [63]:
df.min() #min (valor minimo)

Region            Brazil
Age                   32
Income             57600
Online_Shopper        No
dtype: object

# Pt4 - change of values / cambio de valores

In [78]:
pd.get_dummies(df, columns = ["Online_Shopper"], drop_first = True) #turn data (convertir datos)

   Region  Age  Income  Online_Shopper_Yes
0   India   49   86400                   0
1  Brazil   32   57600                   1
2     USA   35   64800                   0
3  Brazil   43   73200                   0
4     USA   45   79400                   1
5   India   40   69600                   1
6  Brazil   46   62400                   0
7   India   53   94800                   1
8     USA   55   99600                   0
9   India   42   80400                   1